<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup> 
  <connectionStrings>   
    <add name="BLOB2PngAndJpegEntities" connectionString="metadata=res://*/BlobSQLDB.csdl|res://*/BlobSQLDB.ssdl|res://*/BlobSQLDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BLOB2PngAndJpeg;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="LNN_BLOBEntities" connectionString="metadata=res://*/LNNDB.csdl|res://*/LNNDB.ssdl|res://*/  LNNDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LNN_BLOB;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="DBBlobEntities" connectionString="metadata=res://*/DBSQLBlob.csdl|res://*/DBSQLBlob.ssdl|res://*/DBSQLBlob.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LNN_BLOB;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="DBPictureDBEntities" connectionString="metadata=res://*/DBPictureDB.csdl|res://*/DBPictureDB.ssdl|res://*/DBPictureDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LNN_BLOB;integrated security=True;multipleactiveresultsets=True;encrypt=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings> 
  <appSettings>
    <!-- MongoDB settings: set these to your MongoDB server values the one you will install -->
    <add key="MongoConnectionString" value="mongodb://localhost:27017"/>
    <add key="MongoDatabase" value="BlobImagesDb"/>
    <!-- Time of day for nightly run in 24h format HH:mm (server local time) -->
    <add key="NightlyRunTime" value="02:00"/>
  </appSettings>
</configuration>    