<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <!-- Path to the input file containing image file paths and metadata for enrollments -->
    <add key="InputFilePath" value="c:\enrollment\Default-CSV-file.csv" />
    <!-- Character or string that is the delimeter for columns in the input data file -->
    <add key="InputFileDelimeter" value="," />
    <!-- The paths in the input data file are relative to the location of the input data file -->
    <add key="InputFileRelativePaths" value="true" />
    <!-- All of the enrollments will be added to this case group -->
    <add key="CaseGroupId" value="" />
    <!-- All of the enrollments will use this profile id -->
    <add key="ProfileId" value="" />
    <!-- Uri of the webapi -->
    <add key="WebApiUri" value="https://localhost" />
    <!-- Username to use when logging into the WebApi -->
    <add key="WebApiUsername" value="FaceFirst" />
    <!-- Password to use when logging into the WebApi -->
    <add key="WebApiPassword" value="yourpassword" />
    <!-- Skips certificate validation for the WebApiUri -->
    <add key="IgnoreCertificateValidation" value="true" />
    <!-- Before enrollment, an identification request is performed. If any other case/person matches higher than this threshold, the new case will not be enrolled -->
    <add key="DuplicateEnrollmentThreshold" value="1.0" />
    <!-- Number of threads to use when enrolling, this value is maxed at the total number of logical CPUs. If zero (0) is specified, the System.Environment.ProcessorCount will be used -->
    <add key="ThreadCount" value="1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>